<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Styles/main_style.css">
	<link rel="stylesheet" href="Styles/dialog_style.css">
	<title>Aссounts control</title>
	</head>
	<body>
		<div id="LeftPanel" th:replace="~{main::leftPanel}"></div>
		<div id="RightPanel">
			<div id="RightPanelHeader" th:replace="~{main::rightPanelHeader}"></div>
			<div id="ContentPanel">
				<form id="ClientForm">
					<div id="FormLabels" style="grid-template-rows: repeat(6, auto); width:300px">
						<span id="TIN_label">ИНН</span>
						<span id="Phone_label">Телефон</span>
						<span id="Address_label">Адрес</span>
						<span id="ClientType_label">Тип клиента</span>
						<span id="FIO_label">ФИО</span>
						<span id="Passport_label">Данные паспорта</span>
						<span id="OrgForm_label" class="Hidden">Форма организации</span>
						<span id="OrgName_label" class="Hidden">Название организации</span>
					</div>
					<div id="FormInputs" style="grid-template-rows: repeat(6, auto); top: -315px; left: 500px;">
						<input type="text" size="12" id="TIN_input">
						<input type="text" size="12" id="Phone_input">
						<input type="text" size="40" id="Address_input">
						<select id="ClientType_select">
							<option value="Physical">Физическое лицо</option>
							<option value="Legal">Юридическое лицо</option>
						</select>
						<input type="text" size="40" id="FIO_input">
						<input type="text" size="10" id="Passport_input">
						<input type="text" size="10" id="OrgForm_input" class="Hidden">
						<input type="text" size="40" id="OrgName_input" class="Hidden">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="JS/general.js"></script>
<script src="JS/dialog.js"></script>
<script src="JS/clients.js"></script>