<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Styles/main_style.css">
	<link rel="stylesheet" href="Styles/table_style.css">
	<title>Accounts control</title>
</head>
<body>
<div id="LeftPanel" th:replace="~{main::leftPanel}"></div>
<div id="RightPanel">
	<div id="RightPanelHeader" th:replace="~{main::rightPanelHeader(hasOKButton='-')}"></div>
	<div id="ContentPanel">
		<table id="SearchResult">
			<tr>
				<th class="Attribute">ID</th>
				<th class="Attribute">Название</th>
				<th class="Attribute">Форма организации</th>
				<th class="Attribute">Адрес</th>
				<th class="Attribute">Телефон</th>
				<th class="Attribute">ИНН</th>
			</tr>
			
			<tr th:each="row,iterStat: ${rows}">
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.client.id}"></td>
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.name}"></td>
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.form}"></td>
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.client.address}"></td>
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.client.phone}"></td>
				<td class="Cell RowAttr"  th:attr="data-row=${iterStat.index}" th:text="${row.tin}"></td>
			</tr>
		</div>
	</div>
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="JS/general.js"></script>
<script src="JS/editRequest.js"></script>
<script src="JS/table.js"></script>