#SearchResult {
	border: solid 1px grey;
	border-radius: 10px;
	overflow: hidden;
	overflow: auto;
	display: inline-block;
	position: relative;
	max-height: 100%;
	background-color: grey;
}

.Cell {
	background-color: #ffffff;
	/*display: grid;*/
	justify-content: center;
	align-content: center;
	padding: 8px;
	transition: 0.2s;
	user-select: text;
}

.Attribute {
	position: sticky;
	top: 0px;
	background-color: #eeeeee;
	/*display: grid;*/
	justify-content: center;
	align-content: center;
	padding: 8px;
	font-weight: bold;
}

.SelectedRow {
	background-color: #ffff99;
}

#SearchItemsCount {
	position: absolute;
	right: 50px;
	bottom: 0px;
}